home_latitude: 30.0000
home_longitude: -122.0000
home_elevation: 0

dyson_username: example@gmail.com
dyson_password: PW
dyson_device_id: WWW-US-gggggggg
dyson_device_ip: 192.168.0.003

google_client_id: XXXXXXXXXX
google_client_secret: XXXXXXXXXX

tuya_un: xx@xx.com
tuya_pw: xxx

apple_tv_login_id: xx@xx.com

airvisual_api_key: XXXXXX-XXX-XX

wifi_ssid: xxx
wifi_pw: xxx

nanoleaf_bella: xxx
nanoleaf_bella_ip: 192.168.x.xx
nanoleaf_studio_ip: 192.168.x.xx
nanoleaf_studio: xxx
