home_latitude: 30.0000
home_longitude: -122.0000
home_elevation: 0

google_client_id: XXXXXXXXXX
google_client_secret: XXXXXXXXXX

tuya_un: xx@xx.com
tuya_pw: xxx

apple_tv_login_id: xx@xx.com

airvisual_api_key: XXXXXX-XXX-XX

wifi_ssid: xxx
wifi_pw: xxx

nanoleaf_bella: xxx
nanoleaf_bella_ip: 192.168.x.xx
nanoleaf_studio_ip: 192.168.x.xx
nanoleaf_studio: xxx

joe_pel_un: xxx
joe_pel_pw: xxx
